---
import ListCategoriesBo from '@/components/ListCategoriesBo'
import ListPosts from '@/components/ListPosts'
import Shape from '@/components/icons/Shape'
import BaseLayout from '@/layouts/BaseLayout'
import { getBoPosts } from '@/utils'
import Logo from '@/components/icons/Logo'
import BaseLayoutBo from '@/layouts/BaseLayoutBo'

const MAX_POSTS = 10 // max number of posts to show on the home page
const posts = await getBoPosts(MAX_POSTS)
const language = "post-bo"

---

<BaseLayoutBo title='Home'>
	
	<ListCategoriesBo />
	<div>
		<ListPosts FirstBig={true} posts={posts} language={language}  langReadIn="Read In English" />
	</div>
</BaseLayoutBo>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'
	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
