---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import Shape from '@/components/icons/Shape'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import Logo from '@/components/icons/Logo'
import ShowTags from '@/components/ShowTags'



const MAX_POSTS = 15 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
const language = "post"

---

<BaseLayout title='Home'>
	
	<ListCategories />
	
	<div>
		<ListPosts FirstBig={true} posts={posts} language={language}  langReadIn="བོད་ཡིག་ནང་ཀླག་" />
	</div>
	<div>
		
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'
	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
